<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">iOS</a></li>
                <li><a href="#">SVN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <div class="page-header">
        <h1>
            <small><span><strong>产品title</strong></span></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
            <img src="http://localhost/api/1.0/files/downloadFile/e1dc7468-5bbb-4f73-add0-f8c2cf3fefa8">
            <h1>Hello</h1>
        </div>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>