<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球购-Vivien 澳洲站 购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../bootstrap/4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/4.0/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../bootstrap/4.0/css/bootstrap-reboot.css">
    <style>
        .img-rounded {
            max-height: 200px;
        }

        hr {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-style: solid none;
            border-width: 1px 0;
            margin: 18px 0;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <h3>购物车</h3>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <img class="img-rounded" src="/api/1.0/files/downloadFile/2cf8578c-6f6e-4d68-bf52-1ce2b9f62273"/>
        </div>
        <div class="col-md-8 col-xl-8">
            <h4>Refresh 眼药水（120ml）
                <button type="button" class="btn btn-outline-danger">删除</button>
            </h4>
            <p>运费：4个25元，6个30元</p>
            <p>
            <div class="text-danger"><h4>9999元</h4></div>
            </p>
            <p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">-</span>
                </div>
                <input type="number" class="form-control" value="1"/>
                <div class="input-group-prepend">
                    <span class="input-group-text">+</span>
                </div>
            </div>
            </p>
        </div>

    </div>
   <hr />
    <div class="row">
        <div class="col-md-4">
            <img class="img-rounded" src="/api/1.0/files/downloadFile/2cf8578c-6f6e-4d68-bf52-1ce2b9f62273"/>
        </div>
        <div class="col-md-8">
            <h4>Refresh 眼药水（120ml）
                <button type="button" class="btn btn-outline-danger">删除</button>
            </h4>
            <p>运费：4个25元，6个30元</p>
            <p>
            <div class="text-danger"><h4>9999元</h4></div>
            </p>
            <p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">-</span>
                </div>
                <input type="number" class="form-control" value="1"/>
                <div class="input-group-prepend">
                    <span class="input-group-text">+</span>
                </div>
            </div>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-block btn-success">生成订单</button>
            <a href="/index.html" class="btn btn-block btn-default">返回首页</a>

        </div>
    </div>

</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../bootstrap/4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="../assets/js/jquery.form.min.js"></script>
<script>

</script>
</body>
</html>