<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>购物成功</h1>
<script src="../assets/js/jquery.min.js"></script>
<script src="../bootstrap/4.0/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.form.min.js"></script>
<script src="../bootstrap/common/bootoast.js"></script>
<script>

    $(function () {
        var no = getUrlParam("orderNo");
        alert(no);
    });

    //获取url中的参数
    function getUrlParam(name) {
        //构造一个含有目标参数的正则表达式对象
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        //匹配目标参数
        var r = window.location.search.substr(1).match(reg);
        //返回参数值
        if (r != null) return unescape(r[2]);
        return null;
    }


</script>
</body>
</html>