<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>全球购-Vivien 澳洲站 用户登陆</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <h1>用户登录</h1>
    <div class="row">

        <div class="col-md-12">
            <form role="form" action="/api/1.0/login" method="post" id="userForm">
                <div class="form-group">
                    <label for="name">账号</label>
                    <input type="text" class="form-control" id="name" name="username"
                           placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for="name">密码</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="请输入名称">
                </div>
                <button type="button" onclick="createUser()" class="btn btn-block btn-success">登陆</button>
                <a href="/index.html" class="btn btn-block btn-default">取消</a>
            </form>
        </div>
    </div>

</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.form.min.js"></script>
<script>
    function createUser() {
        $('#userForm').ajaxSubmit(function (result) {
            if (result.code === 200) {
                goToIndex();
            } else {
                alert(result.msg);
            }
        });
    }

    function goToIndex() {
        location.href = "/index.html";
    }

</script>
</body>
</html>